section p {
    text-transform: uppercase;
    margin: 0;
}

.section-title {
    font-size: 46px;
    font-weight: 700;
}

#thumbnail {
    height: 800px;
    background-image: url(/images/main-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#highlights, #thumbnail-card {
    padding: 30px;
    flex-direction: column;
}

#thumbnail-card {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    width: 70%;
    height: 50%;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
}

#thumbnail-card a {
    padding: 30px 50px;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    font-size: 24px;;
    font-weight: 700
}


#highlights {
    height: 500px;
    row-gap: 50px;
    background: linear-gradient(to right, #d7dff2, #cdd9f3, #c4d1f1);
}

#highlights, .highlights-places, .highlights-places-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights-places-wrapper {
    column-gap: 40px;
}

.highlights-places {
    width: 30%;
    height: 100%;
    flex-direction: column;
    row-gap: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.highlights-places img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.6);
}
