body {
    background-color: rgb(31, 30, 30);
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


form {
    width: 30rem;
    margin: 3rem auto;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    box-sizing: border-box;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(61, 58, 68);
}

input:focus,
textarea:focus {
    background-color: #cac2ff;
}

button {
    display: block;
    /*font: normal 1rem 'Roboto', sans-serif;*/
    font: inherit;
    color: white;
    background-color: rgba(32, 5, 63, 0.7);
    border: 1px solid rgba(32, 5, 63, 0.7);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(32, 5, 63);
    border-color: rgb(32, 5, 63);
}


.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
}